.round-search{
    border-radius: 25px;
}
:root{
    --colorOne: #19456b ;
    --colorTwo:#16c79a ;
}

.navbar{
    
    font-size: 25px;
    font-weight: 500;
    box-shadow:  0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-dark .navbar-brand{
  color: black;
}
.navbar .container a{
    font-size: 20px;
    font-weight: 500;
}

.navbar .nav-link {
    color: black !important; 
    margin-left: 40px;
  }

  .navbar .nav-link:hover {
    color: #6699cc !important;
    transition: color 0.3s ease-in;
  }
*{
    font-family: montserrat;
}
.about-img{
    height: 50vh;
    background-image: url(pics/image\ \(18\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.about .about-text{
    text-align: center;
    padding-top: 70px;
}
.about-text h1{
    color: var(--colorTwo);
    font-size: 45px;
    text-transform: uppercase;
    margin-top: 25px;
    z-index: 1;
}
.about-text p{
    color: rgb(6, 2, 36);
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    z-index: 1;
}
    
.center-vertical{
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
}
.about-us-section{
    width: 100%;
    padding: calc(5% + 30px)0px;
}
.about-us-section .img-head{
    position: relative;
    overflow: hidden;
}
.about-us-section .img-head img{
    width: 100%;
    transition: transform .3s;
}
.about-us-section .img-head:hover img{
    transform: scale(0.9);
}
.about-us-section .text-head{
    font-size: 28px;
    color: var(--colorTwo);
}
.about-us-section .break-small{
    width: 80px;
    height: 3px;
    background-color: var(--colorTwo);
}
.about-us-section .text-para{
    font-size: 16px;
    color: #444;
}
.about-us-section .box{
    background-color: var(--colorTwo);
    color: #fff;
    text-align: center;
    padding: 20px 0px;
    position: relative;
    overflow: hidden;
}
.about-us-section .box i{
    font-size: 42px;
}
.about-us-section .box h4{
    font-size: 14px;
}
.about-us-section .box p{
    font-size: 22px;
}
.about-us-section .box::after,
.about-us-section .box::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #fff5;
    border-radius: 50%;
    transition: transform .3s;
}
.about-us-section .box::after{
    left: -50px;
    top: -50px;
}
.about-us-section .box::before{
    right: -50px;
    bottom: -50px;
}
.about-us-section .box:hover::after,
.about-us-section .box:hover::before{
    transform: scale(1.2);
}